
BELOW IS IRRELEVANT
-------------------
img.resize {
	max-width: 100%;
	max-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.responsive {
    width: 100%;
    height: auto;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: green;
    color: #4075E8, #363534, #EDEDED, #292828
}
